.SideNav {
  height: 100%;
    width: 140px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: #111;
    overflow-x: hidden;
    padding:0;
  }
  
  .SideNav-a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }
  
  .SideNav-a:hover {
    color: #f1f1f1;
  }

  .SideNav-title {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    text-align: left;
    font-size: 28px;
    color: #fff;
    display: block;
  }

  .SideNav-pretitle {
    padding: 16px 8px 6px 6px;
    text-decoration: none;
    font-size: 16px;
    color: #fe60bf;
    display: block;
  }
  
  .main {
    margin-left: 140px; /* Same width as the sidebar + left position in px */
    font-size: 20px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }
  
  @media screen and (max-height: 450px) {
    .SideNav {padding-top: 15px;}
    .SideNav-a {font-size: 18px;}
  }